@using Capstone.Bookstore.DAL
@using Capstone.Bookstore.Model.ViewModel
@using Capstone.Bookstore.Model.Home
@using Capstone.Bookstore.Models
@using Capstone.Bookstore.Model

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;


@{
    Boolean IsAdminUser()
    {
        if (User.Identity.IsAuthenticated)
        {
            var user = User.Identity;
            ApplicationDbContext context = new ApplicationDbContext();
            var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
            var s = UserManager.GetRoles(user.GetUserId());
            if (s.Contains("Admin"))
            {
                return true;
            }
            else
            {
                return false;
            }
        }
        return false;
    }


    List<Item> cart = null;
    if (Session["cart"] != null)
    {
        cart = (List<Item>)Session["cart"];
    }

    var showAdminMenu = IsAdminUser();


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Studio</title>
    @*@Styles.Render("~/Content/css")*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayout.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-xs-6">
                <div class="logo">
                    <h1><a href="@Url.Action("Index", "Home")">Online<span>Book Store</span></a></h1>
                    <p>Welcome to Our Book Store</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-xs-6">
                <div class="account">
                    <ul>
                        <li>
                            <div class="hidden-xs">
                                <h4><a>Call Us</a></h4>
                                <p>226-125-8574</p>

                            </div>

                            <div class="visible-xs">
                                <p>226-125-8574</p>

                            </div>
                        </li>
                    </ul>

                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown"
                           class="dropdown-toggle"
                           href="#">Cart(@(cart != null ? cart.Count(): 0)) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (cart != null)
                            {
                                foreach (var item in cart)
                                {
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("RemoveFromCart", "Home", new { productId=item.Product.ProductId})">
                                            @item.Product.ProductName (@item.Quantity)
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>


                                }
                                if (cart.Count() > 0)
                                {
                                    <li class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("Checkout", "Home")">Checkout</a>
                                    </li>
                                }
                                else
                                {
                                    <li style="text-align:center">There is no item </li>
                                }

                            }
                            else
                            {
                                <li style="text-align:center">There is no item </li>
                            }

                        </ul>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nav-menus">
                        <ul class="nav nav-pills">
                            <li class=""><a style="border-radius:5px;" href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    @{
                                        Html.RenderAction("Categories", "Home");
                                    }

                                </ul>
                            </li>
                            @if (showAdminMenu == true)
                            {
                                <li><a href="@Url.Action("AdminLogin", "Authentication")">As Admin</a></li>
                            }

                            <li><a style="border-radius:5px;" href="@Url.Action("About", "Home")">About Us</a></li>
                            @*<li class="nav navbar-right">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("AdminLogin", "Authentication")">As Admin</a></li>
                                                <li><a href="@Url.Action("UserLogin", "Authentication")">As User</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                            @Html.Partial("_LoginPartial")
                        </ul>



                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>

            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - Online Book Store. All rights reserved</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="-blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="-blank"><i class="fa-brands fa-twitter-square"></i></a></li>
                            <li><a href="#" target="-blank"><i class="fa-brands fa-instagram-square"></i></a></li>

                        </ul>
                    </div>

                </div>
            </div>

        </footer>
    </div>
    <script src="https://kit.fontawesome.com/e6ab1715d0.js" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
