@using Capstone.Bookstore.DAL
@using Capstone.Bookstore.Model.ViewModel

@model BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Studio</title>
    @*@Styles.Render("~/Content/css")*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayout.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-xs-6">
                <div class="logo">
                    <h1><a href="@Url.Action("Index", "Home")">Online<span>Book Store</span></a></h1>
                    <p>Welcome to Our Book Store</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-xs-6">
                <div class="account">
                    <ul>
                        <li>
                            <div class="hidden-xs">
                                <h4><a>Call Us</a></h4>
                                <p>226-125-8574</p>

                            </div>

                            <div class="visible-xs">
                                <p>226-125-8574</p>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nav-menus">
                        <ul class="nav nav-pills">
                            <li class="active"><a style="border-radius:5px;" href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    @if (Model.Categories != null)
                                    {
                                        foreach (var item in Model.Categories)
                                        {
                                            <li><a href="@Url.Action("Category", "Home", new { id = item.CategoryId })">@item.CategoryName</a></li>
                                        }
                                    }                                   
                                </ul>
                            </li>
                            <li><a style="border-radius:5px;" href="@Url.Action("About", "Home")">About Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>

            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - Online Book Store. All rights reserved</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="-blank"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" target="-blank"><i class="fa-brands fa-twitter-square"></i></a></li>
                            <li><a href="#" target="-blank"><i class="fa-brands fa-instagram-square"></i></a></li>

                        </ul>
                    </div>

                </div>
            </div>

        </footer>
    </div>
    <script src="https://kit.fontawesome.com/e6ab1715d0.js" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
